@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&family=Rajdhani:wght@300;400;500;600&display=swap');

/*Global ------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}


/* Body --------------------------------------------- */

body {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(120deg, #f10cf1, #2e08d6);
    align-items: center;
    justify-content: center;
}


/* header --------------------------------------------- */

#flagContainer{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 6rem;
}

.formFlags {
    display: flex;
    gap: 1.3rem;
}

/* Relógio --------------------------------------------- */

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 220px;
    width: 550px;

    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0.5);
}

.clock div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);

    border-radius: 7px;
    letter-spacing: 3px;
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
}

.clock span.time {
    font-size: 15px;
}